.Container{
  min-width: 600px;

}

.Container .mat-form-field{
  margin: 10px;

}

.button{
  display: flex;
  flex-direction: row-reverse;

}
.NomeFornec, .EndFornec,.HistFornc {
  width: 35rem;
}
.NomeFornec{
  width: 60%;
}
.CPFCNPJ, .tamanho{
  width: 40%;
}
.row{
  display: flex;
  justify-content: space-between;
  width: auto;

}
.rowImposto{
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
  width: 100%;
}
.TamanhoImposto{
  width: 35%;
}
